<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Summernote CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

        body {
            padding: 20px;
            font-family: "open sans";
            color: #555;
        }

        label {
            font-weight: 600;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a style="color: green;"><h2>BNTUyshniki</h2></a>
        <form class="d-flex me-auto" action="/user/search" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">Home</a>
                </li>
                <div>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user/profile">Your profile</a>
                    </li>
                </div>
                <div>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logout"
                           style="color: white;background-color: red; padding: 5px; border-radius: 20px; position: absolute; top: 10px; right: 10px;">Logout</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Create a new post</h2>
    <form action="#" th:action="@{/post/create}" method="post">
        <div class="form-group">
            <label for="namePost">Post Name</label>
            <input type="text" id="namePost" name="namePost" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3" id="create-post-button">Create Post</button>
    </form>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Summernote JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#content').summernote({
            dialogsInBody: true,
            dialogsFade: true,
            height: 150
        });
    });
</script>
</body>
</html>
