<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: green;"><h2>BNTUyshniki</h2></a>
        <form class="d-flex me-auto" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user/profile">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout"
                       style="color: white; background-color: red; padding: 5px; border-radius: 20px; position: absolute; top: 10px; right: 10px;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>All Posts by <span th:text="${users.firstName} + ' ' + ${users.lastName}"></span></h2>
    <hr>
    <div th:if="${#lists.isEmpty(posts)}">
        <p>No posts found.</p>
    </div>
    <div th:each="post : ${posts}">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a th:href="@{'/post/view/' + ${post.getPostId()}}" th:text="${post.getNamePost()}"></a>
                </h5>
                <p class="card-text" th:text="${post.getCreated()}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>